Repository dogu-team/gamium: changes, and which lint-staged commands are due for each by the changed paths.
All: organize-imports-cli, prettier --write, prettier-package-json --write

fix: add description for doc issue
  .github/ISSUE_TEMPLATE/docs.yml
Due: none

docs: update README.md
  README.md
Due: none

version: publish 2.0.2
  client/typescript/gamium/package.json
Due: prettier-package-json --write

docs: change gamium engine version tag
  docs/docs/docs/engine/unity/project-configuration.mdx
  engine/unity/CHANGELOG.md
  engine/unity/package.json
Due: prettier-package-json --write

docs: update readme
  README.md
Due: none

fix(2.0.2): change object index using get-pae-source api
  engine/unity/Runtime/Private/Inspector/PageSource.cs
  engine/unity/Runtime/Private/Network/Server.cs
  engine/unity/Runtime/Private/Object/Gamium/GameObjectGamiumObject.cs
  engine/unity/Runtime/Private/Object/Gamium/GamiumObject.cs
  engine/unity/Runtime/Private/Object/Gamium/VisualElementGamiumObject.cs
  engine/unity/package.json
Due: prettier-package-json --write

update: issue template title
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/feature.yml
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

wip: websocket gamium service
  .pnp.cjs
  .yarn/cache/@types-ws-npm-8.5.5-5f5e3bde2d-d00bf8070e.zip
  client/typescript/gamium/package.json
  client/typescript/gamium/src/common/internal/utils/wait.ts
  client/typescript/gamium/src/index.ts
  client/typescript/gamium/src/node/ws-gamium-service.ts
  yarn.lock
Due: organize-imports-cli, prettier --write, prettier-package-json --write

fix: ws node service connect, stringify issue
  client/typescript/gamium/src/common/internal/functions.ts
  client/typescript/gamium/src/common/until.ts
  client/typescript/gamium/src/node/ws-gamium-service.ts
Due: organize-imports-cli, prettier --write

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix: test
  utils/typescript/docs-api-gen/test/test-parse.ts
Due: organize-imports-cli, prettier --write

feat: python websocket_gamium_service support
  client/python/gamium/gamium/__init__.py
  client/python/gamium/gamium/__main__.py
  client/python/gamium/gamium/actions/action_chain.py
  client/python/gamium/gamium/gamium_client.py
  client/python/gamium/gamium/gamium_service.py
  client/python/gamium/gamium/igamium_client.py
  client/python/gamium/gamium/igamium_service.py
  client/python/gamium/gamium/object/player.py
  client/python/gamium/gamium/object/ui_element.py
  client/python/gamium/gamium/tcp_gamium_service.py
  client/python/gamium/gamium/ui/ui.py
  client/python/gamium/gamium/utils/bytes.py
  client/python/gamium/gamium/utils/wait.py
  client/python/gamium/gamium/websocket_gamium_service.py
  client/python/gamium/pyproject.toml
Due: none

config: gamium typescript clinet keywords
  client/typescript/gamium/package.json
Due: prettier-package-json --write

version: gamium 2.0.3
  client/python/gamium/pyproject.toml
  client/typescript/gamium/package.json
  engine/unity/package.json
Due: prettier-package-json --write

version: gamium 2.0.4
  client/python/gamium/DEV.md
  client/python/gamium/pyproject.toml
  client/typescript/gamium/package.json
Due: prettier-package-json --write

version: gamium 2.0.5. fix python close error on testing
  client/python/gamium/gamium/tcp_gamium_service.py
  client/python/gamium/pyproject.toml
  client/typescript/gamium/package.json
  engine/unity/package.json
Due: prettier-package-json --write

log: fix typescript client timeout log
  client/typescript/gamium/src/node/node-gamium-service.ts
  client/typescript/gamium/src/node/ws-gamium-service.ts
Due: organize-imports-cli, prettier --write

feat: closeOnTimeout on gamium-services
  client/typescript/gamium/src/node/node-gamium-service.ts
  client/typescript/gamium/src/node/ws-gamium-service.ts
Due: organize-imports-cli, prettier --write

fix: ws remote openhandles remain
  client/typescript/gamium/src/common/gamium-client.ts
  client/typescript/gamium/src/common/gamium-service.ts
  client/typescript/gamium/src/node/node-gamium-service.ts
  client/typescript/gamium/src/node/ws-gamium-service.ts
Due: organize-imports-cli, prettier --write

version: gamium typescript client 2.0.6
  client/typescript/gamium/package.json
Due: prettier-package-json --write

docs: update python client doc
  docs/docs/api/client/python/classes/gamium-client.mdx
  docs/docs/docs/client/write-testscript.mdx
Due: none

fix: python client timeout
  client/python/gamium/gamium/tcp_gamium_service.py
  client/python/gamium/gamium/websocket_gamium_service.py
  utils/typescript/docs-api-gen/src/python/parse.py
Due: none

version: python client 2.0.6
  client/python/gamium/pyproject.toml
Due: none

fix: python client timeout wrong unit
  client/python/gamium/gamium/tcp_gamium_service.py
Due: none

version: python client 2.0.7
  client/python/gamium/pyproject.toml
Due: none

fire: remove unused ts scripts
  engine/cpp/package.json
  engine/cpp/scripts/build.ts
  engine/cpp/scripts/client.ts
Due: organize-imports-cli, prettier --write, prettier-package-json --write

docs: update more detail
  docs/docs/docs/engine/unity/project-configuration.mdx
Due: none

docs: update community link
  docs/docusaurus.config.js
Due: none

docs: update language support
  docs/docs/docs/get-started/introduction.mdx
  docs/docs/docs/get-started/quick-start.mdx
Due: none

refactor: rename gamium engine displayName
  engine/unity/package.json
Due: prettier-package-json --write

log: hide try connect fail log. print message only once
  client/python/gamium/gamium/internal/logger.py
  client/python/gamium/gamium/tcp_gamium_service.py
  client/python/gamium/gamium/websocket_gamium_service.py
Due: none

fix: handle disconnection
  client/python/gamium/gamium/tcp_gamium_service.py
Due: none

wip: use print without access to sys
  client/python/gamium/gamium/internal/logger.py
Due: none

Path conditions:
  organize-imports-cli: any of: *.ts
  prettier --write: any of: *.ts
  prettier-package-json --write: any of: package.json
