Repository dogu-team/gamium: changes, and which lint-staged commands are due for each by the changed paths.
All: organize-imports-cli, prettier --write, prettier-package-json --write

refactor: python module name lower.
  client/python/gamium/gamium/Protocol/Packets/ActionParam.py
  client/python/gamium/gamium/Protocol/Packets/ActionResult.py
  client/python/gamium/gamium/Protocol/Packets/Actions/InputMouseParam.py
  client/python/gamium/gamium/Protocol/Packets/Actions/MovePlayerParam.py
  client/python/gamium/gamium/Protocol/Packets/ActionsResult.py
  client/python/gamium/gamium/Protocol/Packets/ChangeConfigurationParam.py
  client/python/gamium/gamium/Protocol/Packets/DumpObjectsHierarchyResult.py
  client/python/gamium/gamium/Protocol/Packets/FindObjectsParam.py
  client/python/gamium/gamium/Protocol/Packets/FindObjectsResult.py
  client/python/gamium/gamium/Protocol/Packets/HelloResult.py
  client/python/gamium/gamium/Protocol/Packets/InspectObjectOnScreenParam.py
  client/python/gamium/gamium/Protocol/Packets/InspectObjectOnScreenResult.py
  client/python/gamium/gamium/Protocol/Packets/InspectObjectWithIdResult.py
  client/python/gamium/gamium/Protocol/Param.py
  client/python/gamium/gamium/Protocol/Request.py
  client/python/gamium/gamium/Protocol/Response.py
  client/python/gamium/gamium/Protocol/Result.py
  client/python/gamium/gamium/Protocol/Types/ObjectHierarchyNode.py
  client/python/gamium/gamium/Protocol/Types/ObjectInfo.py
  client/python/gamium/gamium/Protocol/Types/ObjectsHierarchy.py
  client/python/gamium/gamium/__main__.py
  client/python/gamium/gamium/errors/gamium_error.py
  client/python/gamium/gamium/gamium_client.py
  client/python/gamium/gamium/gamium_service.py
  engine/unity/Runtime/Public/Protocol/FlatBufferGenerated/Gamium/Protocol/Packets/ActionsParam.cs
  protocol/.gitignore
  protocol/scripts/export.ts
  protocol/scripts/lang/flatbufferFormatter.ts
  protocol/scripts/lang/typescript.ts
  protocol/scripts/util/filesystem.ts
  protocol/scripts/util/process.ts
  protocol/scripts/util/time.ts
Due: organize-imports-cli, prettier --write

wip: python hello request check
  .vscode/launch.json
  client/python/gamium/gamium/__main__.py
  client/python/gamium/gamium/gamium_client.py
  client/python/gamium/gamium/gamium_service.py
  client/python/gamium/gamium/internal/__init__.py
  client/python/gamium/gamium/internal/size_prefixed_recv_queue.py
Due: none

wip: python request generic
  client/python/gamium/gamium/__main__.py
  client/python/gamium/gamium/gamium_client.py
  client/python/gamium/gamium/gamium_service.py
  client/python/gamium/gamium/internal/logger.py
  client/python/gamium/gamium/locator/by.py
  client/python/gamium/gamium/locator/locator.py
  client/python/gamium/gamium/options/find_objects_options.py
  client/typescript/gamium/src/common/gamium-client.ts
Due: organize-imports-cli, prettier --write

wip: python find() method test
  client/python/gamium/gamium/__main__.py
  client/python/gamium/gamium/gamium_client.py
  client/python/gamium/gamium/gamium_service.py
  client/python/gamium/gamium/locator/by.py
Due: none

wip: python - keyby
  client/python/gamium/gamium/actions/key_by.py
  client/python/gamium/gamium/gamium_client.py
  client/python/gamium/gamium/gamium_service.py
Due: none

✨ Docsearch with algolia
  .pnp.cjs
  .yarn/cache/@docusaurus-core-npm-2.4.1-1ba8a4e422-40c887ef66.zip
  .yarn/cache/@docusaurus-cssnano-preset-npm-2.4.1-21d487b1e8-d498345981.zip
  .yarn/cache/@docusaurus-logger-npm-2.4.1-f49a801277-be81840f2d.zip
  .yarn/cache/@docusaurus-mdx-loader-npm-2.4.1-35eb24d56f-cf36bbde22.zip
  .yarn/cache/@docusaurus-module-type-aliases-npm-2.4.1-8d80dfb7d9-9e328c7bc5.zip
  .yarn/cache/@docusaurus-plugin-content-blog-npm-2.4.1-401769e993-9d4e543b70.zip
  .yarn/cache/@docusaurus-plugin-content-docs-npm-2.4.1-cd66a6b244-028eda178d.zip
  .yarn/cache/@docusaurus-plugin-content-pages-npm-2.4.1-54d0b0d914-6af4eb7c06.zip
  .yarn/cache/@docusaurus-theme-common-npm-2.4.1-2fef924348-206db83caa.zip
  .yarn/cache/@docusaurus-theme-search-algolia-npm-2.4.1-8d261b8cd4-0001680446.zip
  .yarn/cache/@docusaurus-theme-translations-npm-2.4.1-4eef5f8171-cf21cd01db.zip
  .yarn/cache/@docusaurus-types-npm-2.4.1-edd3f4bc26-d44e91c915.zip
  .yarn/cache/@docusaurus-utils-common-npm-2.4.1-1dfbba6aad-475f05b94a.zip
  .yarn/cache/@docusaurus-utils-npm-2.4.1-a1ed2b8844-4c7e49cabe.zip
  .yarn/cache/@docusaurus-utils-validation-npm-2.4.1-cdff693be2-44dc482770.zip
  .yarn/cache/use-sync-external-store-npm-1.2.0-44f75d2564-5c639e0f8d.zip
  docs/docsearch-config.json
  docs/docusaurus.config.js
  docs/package.json
  docs/src/theme/SearchBar/index.js
  yarn.lock
Due: prettier-package-json --write

docs: fix broken links, only use relative path, because there is some case that docusaurus can't catch when using absolute path
  docs/docs/api/client/typescript/classes/action-chain.mdx
  docs/docs/api/client/typescript/classes/by.mdx
  docs/docs/api/client/typescript/classes/gamium-client.mdx
  docs/docs/api/client/typescript/classes/key-by.mdx
  docs/docs/api/client/typescript/classes/rpc-by.mdx
  docs/docs/api/client/typescript/classes/ui.mdx
  docs/docs/api/client/typescript/enums/unity-key-code.mdx
  docs/docs/api/client/typescript/types/actions-click-options.mdx
  docs/docs/api/client/typescript/types/actions-scroll-options.mdx
  docs/docs/api/client/typescript/types/execute-rpc-options.mdx
  docs/docs/api/client/typescript/types/find-object-options.mdx
  docs/docs/api/client/typescript/types/send-key-options.mdx
  docs/docs/docs/client/game-control.mdx
  docs/docs/docs/client/object-path.mdx
  docs/docs/docs/client/rpc.mdx
  docs/docs/docs/client/ui.mdx
  docs/docs/docs/engine/unity/custom-packet-handler.mdx
  docs/docs/docs/engine/unity/project-configuration.mdx
  docs/docs/docs/engine/unity/query-objects.mdx
  docs/docs/docs/engine/unity/rpc.mdx
  docs/docs/docs/engine/unity/server-configuration.mdx
  docs/docs/docs/get-started/introduction.mdx
  docs/docs/docs/get-started/quick-start.mdx
Due: none

wip: actionsParam field as string
  .editorconfig
  .prettierrc.json
  client/python/gamium/gamium/Protocol/Packets/ActionsParam.py
  client/python/gamium/gamium/actions/action_chain.py
  client/python/gamium/gamium/gamium_client.py
  client/typescript/gamium/src/common/protocols/generated/gamium/protocol/packets/actions-param.ts
  engine/cpp/src/include/Internal/Protocol/action_packet_generated.h
  engine/unity/Runtime/Public/Protocol/FlatBufferGenerated/Gamium/Protocol/Packets/ActionsParam.cs
  package.json
  protocol/fbs/gamium/packets/action_packet.fbs
Due: organize-imports-cli, prettier --write, prettier-package-json --write

wip!: python support. pass ActionsParam with string.
  client/python/gamium/gamium/Protocol/Packets/ActionParamSingle.py
  client/python/gamium/gamium/Protocol/Packets/ActionsParam.py
  client/typescript/gamium/src/common/actions/action-chain.ts
  client/typescript/gamium/src/common/gamium-service.ts
  client/typescript/gamium/src/common/protocols/generated/gamium/protocol/packets/action-param-single.ts
  client/typescript/gamium/src/common/protocols/generated/gamium/protocol/packets/actions-param.ts
  client/typescript/gamium/src/common/protocols/generated/gamium/protocol/packets/index.ts
  engine/cpp/src/include/Internal/Protocol/action_packet_generated.h
  engine/unity/Runtime/Private/Protocol/InternalCommandHandler.cs
  engine/unity/Runtime/Public/Protocol/FlatBufferGenerated/Gamium/Protocol/Packets/ActionParamSingle.cs
  engine/unity/Runtime/Public/Protocol/FlatBufferGenerated/Gamium/Protocol/Packets/ActionParamSingle.cs.meta
  engine/unity/Runtime/Public/Protocol/FlatBufferGenerated/Gamium/Protocol/Packets/ActionsParam.cs
  protocol/fbs/gamium/packets/action_packet.fbs
Due: organize-imports-cli, prettier --write

wip: python making action perform..
  client/python/gamium/gamium/__main__.py
  client/python/gamium/gamium/actions/action_chain.py
  client/python/gamium/gamium/gamium_client.py
  client/python/gamium/gamium/gamium_service.py
  client/python/gamium/gamium/options/action_click_options.py
  client/python/gamium/gamium/options/action_drag_options.py
  client/python/gamium/gamium/options/action_move_options.py
  client/python/gamium/gamium/options/action_scroll_options.py
  client/python/gamium/gamium/options/move_player_options.py
  client/python/gamium/gamium/options/send_key_options.py
  client/python/gamium/gamium/options/set_text_options.py
  client/typescript/gamium/src/common/actions/action-chain.ts
Due: organize-imports-cli, prettier --write

wip: python player object, ui-element making.., numpy dependency added
  client/python/gamium/gamium/gamium_client.py
  client/python/gamium/gamium/gamium_service.py
  client/python/gamium/gamium/locator/by.py
  client/python/gamium/gamium/locator/rpc_by.py
  client/python/gamium/gamium/locator/rpc_locator.py
  client/python/gamium/gamium/object/player.py
  client/python/gamium/gamium/object/ui-element.py
  client/python/gamium/gamium/options/execute_rpc_options.py
  client/python/gamium/gamium/options/query_object_interactable_options.py
  client/python/gamium/gamium/ui/ui.py
  client/python/gamium/pyproject.toml
Due: none

wip: making wait_generic
  client/python/gamium/gamium/condition/condition.py
  client/python/gamium/gamium/condition/wait_condition.py
  client/python/gamium/gamium/gamium_client.py
  client/python/gamium/gamium/igamium_client.py
  client/python/gamium/gamium/object/player.py
  client/python/gamium/gamium/object/ui_element.py
  client/python/gamium/gamium/options/__init__.py
  client/python/gamium/gamium/options/wait_options.py
  client/python/gamium/gamium/protocol_util/types.py
  client/python/gamium/gamium/ui/ui.py
  client/python/gamium/gamium/utils/wait.py
Due: none

wip: making until.py, ui.py
  client/python/gamium/gamium/condition/condition.py
  client/python/gamium/gamium/condition/until.py
  client/python/gamium/gamium/condition/wait_condition.py
  client/python/gamium/gamium/gamium_client.py
  client/python/gamium/gamium/igamium_client.py
  client/python/gamium/gamium/object/ui_element.py
  client/python/gamium/gamium/ui/ui.py
  client/python/gamium/gamium/utils/wait.py
Due: none

wip: python fix import error
  client/python/gamium/gamium/Protocol/__init__.py
  client/python/gamium/gamium/Protocol/generated/Packets/Actions/__init__.py
  client/python/gamium/gamium/Protocol/generated/Packets/__init__.py
  client/python/gamium/gamium/Protocol/generated/Types/Unity/__init__.py
  client/python/gamium/gamium/Protocol/generated/Types/__init__.py
  client/python/gamium/gamium/Protocol/generated/__init__.py
  client/python/gamium/gamium/__init__.py
  client/python/gamium/gamium/actions/action_chain.py
  client/python/gamium/gamium/actions/key_by.py
  client/python/gamium/gamium/gamium_client.py
  client/python/gamium/gamium/gamium_service.py
  client/python/gamium/gamium/igamium_client.py
  client/python/gamium/gamium/locator/by.py
  client/python/gamium/gamium/object/player.py
  client/python/gamium/gamium/object/ui_element.py
  protocol/scripts/export.ts
Due: organize-imports-cli, prettier --write

wip: python testing with dogurpgsample
  client/python/gamium/gamium/Protocol/types.py
  client/python/gamium/gamium/__init__.py
  client/python/gamium/gamium/actions/action_chain.py
  client/python/gamium/gamium/actions/key_by.py
  client/python/gamium/gamium/condition/until.py
  client/python/gamium/gamium/errors/gamium_error.py
  client/python/gamium/gamium/gamium_client.py
  client/python/gamium/gamium/gamium_service.py
  client/python/gamium/gamium/internal/size_prefixed_recv_queue.py
  client/python/gamium/gamium/locator/rpc_by.py
  client/python/gamium/gamium/object/player.py
  client/python/gamium/gamium/object/ui_element.py
  client/python/gamium/gamium/options/move_player_options.py
  client/python/gamium/gamium/ui/ui.py
  client/python/gamium/gamium/utils/try_utils.py
  client/python/gamium/gamium/utils/wait.py
Due: none

wip: python testing with dogurpgsample done
  .vscode/settings.json
  client/python/gamium/__init__.py
  client/python/gamium/gamium/actions/action_chain.py
  client/python/gamium/gamium/condition/until.py
  client/python/gamium/gamium/gamium_client.py
  client/python/gamium/gamium/gamium_service.py
  client/python/gamium/gamium/igamium_client.py
  client/python/gamium/gamium/object/player.py
  client/python/gamium/gamium/object/ui_element.py
  client/python/gamium/gamium/options/wait_options.py
  client/python/gamium/gamium/ui/ui.py
  client/python/gamium/gamium/utils/time.py
  client/python/gamium/gamium/utils/wait.py
Due: none

wip: python api changed from async to sync
  client/python/gamium/gamium/Protocol/functions.py
  client/python/gamium/gamium/__main__.py
  client/python/gamium/gamium/actions/action_chain.py
  client/python/gamium/gamium/condition/condition.py
  client/python/gamium/gamium/condition/until.py
  client/python/gamium/gamium/condition/wait_condition.py
  client/python/gamium/gamium/gamium_client.py
  client/python/gamium/gamium/gamium_service.py
  client/python/gamium/gamium/igamium_client.py
  client/python/gamium/gamium/object/player.py
  client/python/gamium/gamium/object/ui_element.py
  client/python/gamium/gamium/ui/ui.py
  client/python/gamium/gamium/utils/try_utils.py
  client/python/gamium/gamium/utils/wait.py
Due: none

wip: python unityuisample apply
  client/python/gamium/gamium/Protocol/functions.py
  client/python/gamium/gamium/Protocol/types.py
  client/python/gamium/gamium/__init__.py
  client/python/gamium/gamium/actions/action_chain.py
  client/python/gamium/gamium/actions/key_by.py
  client/python/gamium/gamium/gamium_client.py
  client/python/gamium/gamium/gamium_service.py
  client/python/gamium/gamium/options/execute_rpc_options.py
Due: none

wip: python inputsystemwarriors apply
  client/python/gamium/gamium/actions/key_by.py
Due: none

docs: python client docs
  docs/docs/docs/client/game-control.mdx
  docs/docs/docs/client/object-path.mdx
  docs/docs/docs/client/rpc.mdx
  docs/docs/docs/client/ui.mdx
  docs/docs/docs/client/write-testscript.mdx
Due: none

docs: python client api docs generation
  .vscode/launch.json
  docs/docs/api/client/python/classes/gamium-client.mdx
  docs/docs/api/client/typescript/enums/unity-keyboard.mdx
  utils/typescript/docs-api-gen/package.json
  utils/typescript/docs-api-gen/requirements.txt
  utils/typescript/docs-api-gen/scripts/gendoc_python.ts
  utils/typescript/docs-api-gen/scripts/gendoc_typescript.ts
  utils/typescript/docs-api-gen/scripts/mirror-doc.ts
  utils/typescript/docs-api-gen/src/codegen-elem.ts
  utils/typescript/docs-api-gen/src/codegen-python.ts
  utils/typescript/docs-api-gen/src/codegen-type-mdx-mapper.ts
  utils/typescript/docs-api-gen/src/codegen-typescript.ts
  utils/typescript/docs-api-gen/src/index.ts
  utils/typescript/docs-api-gen/src/markdown-tag.ts
  utils/typescript/docs-api-gen/src/python/markdown_tag.py
  utils/typescript/docs-api-gen/src/python/markdown_util.py
  utils/typescript/docs-api-gen/src/python/parse.py
  utils/typescript/docs-api-gen/src/res/markdown-tags.json
Due: organize-imports-cli, prettier --write, prettier-package-json --write

docs: python client api docs listup
  docs/docs/api/client/python/classes/action-chain.mdx
  docs/docs/api/client/python/classes/action-click-options.mdx
  docs/docs/api/client/python/classes/action-drag-options.mdx
  docs/docs/api/client/python/classes/action-move-options.mdx
  docs/docs/api/client/python/classes/action-packet-types.mdx
  docs/docs/api/client/python/classes/action-result.mdx
  docs/docs/api/client/python/classes/action-scroll-options.mdx
  docs/docs/api/client/python/classes/by.mdx
  docs/docs/api/client/python/classes/error-code.mdx
  docs/docs/api/client/python/classes/error-result.mdx
  docs/docs/api/client/python/classes/execute-rpc-by.mdx
  docs/docs/api/client/python/classes/execute-rpc-options.mdx
  docs/docs/api/client/python/classes/find-object-options.mdx
  docs/docs/api/client/python/classes/gamium-client.mdx
  docs/docs/api/client/python/classes/gamium-error.mdx
  docs/docs/api/client/python/classes/input-key-by.mdx
  docs/docs/api/client/python/classes/key-by.mdx
  docs/docs/api/client/python/classes/move-player-by.mdx
  docs/docs/api/client/python/classes/move-player-options.mdx
  docs/docs/api/client/python/classes/object-info.mdx
  docs/docs/api/client/python/classes/object-locator-by.mdx
  docs/docs/api/client/python/classes/object-type.mdx
  docs/docs/api/client/python/classes/player.mdx
  docs/docs/api/client/python/classes/query-object-interactable-options.mdx
  docs/docs/api/client/python/classes/query-profile-result.mdx
  docs/docs/api/client/python/classes/query-screen-result.mdx
  docs/docs/api/client/python/classes/rpc-by.mdx
  docs/docs/api/client/python/classes/send-key-options.mdx
  docs/docs/api/client/python/classes/set-text-options.mdx
  docs/docs/api/client/python/classes/ui-element.mdx
  docs/docs/api/client/python/classes/ui.mdx
  docs/docs/api/client/python/classes/unity-key-code.mdx
  docs/docs/api/client/python/classes/unity-keyboard.mdx
  docs/docs/api/client/python/classes/until.mdx
  docs/docs/api/client/python/classes/vector2.mdx
  docs/docs/api/client/python/classes/vector3.mdx
  docs/docs/api/client/python/classes/vector4.mdx
  docs/docs/api/client/python/classes/wait-options.mdx
  utils/typescript/docs-api-gen/scripts/gendoc_python.ts
  utils/typescript/docs-api-gen/src/python/parse.py
Due: organize-imports-cli, prettier --write

docs: python property docs, fixing mypy type check errors
  client/python/gamium/gamium/condition/until.py
  client/python/gamium/gamium/gamium_client.py
  client/python/gamium/gamium/utils/wait.py
  docs/docs/api/client/python/classes/action-chain.mdx
  docs/docs/api/client/python/classes/action-click-options.mdx
  docs/docs/api/client/python/classes/action-drag-options.mdx
  docs/docs/api/client/python/classes/action-scroll-options.mdx
  docs/docs/api/client/python/classes/by.mdx
  docs/docs/api/client/python/classes/execute-rpc-options.mdx
  docs/docs/api/client/python/classes/find-object-options.mdx
  docs/docs/api/client/python/classes/gamium-client.mdx
  docs/docs/api/client/python/classes/move-player-options.mdx
  docs/docs/api/client/python/classes/player.mdx
  docs/docs/api/client/python/classes/query-object-interactable-options.mdx
  docs/docs/api/client/python/classes/rpc-by.mdx
  docs/docs/api/client/python/classes/send-key-options.mdx
  docs/docs/api/client/python/classes/ui-element.mdx
  docs/docs/api/client/python/classes/ui.mdx
  docs/docs/api/client/python/classes/until.mdx
  docs/docs/api/client/python/classes/vector2.mdx
  docs/docs/api/client/python/classes/wait-options.mdx
  utils/typescript/docs-api-gen/src/python/parse.py
Due: none

docs: python docs, support type alias
  docs/docs/api/client/python/classes/action-chain.mdx
  docs/docs/api/client/python/classes/gamium-client.mdx
  docs/docs/api/client/python/classes/locator.mdx
  docs/docs/api/client/python/classes/move-player-options.mdx
  docs/docs/api/client/python/classes/player.mdx
  docs/docs/api/client/python/classes/query-profile-result.mdx
  docs/docs/api/client/python/classes/rpc-locator.mdx
  docs/docs/api/client/python/classes/ui.mdx
  docs/docs/api/client/python/classes/until.mdx
  docs/docs/api/client/python/classes/vector2.mdx
  docs/docs/api/client/python/classes/vector3.mdx
  docs/docs/api/client/python/classes/vector4.mdx
  utils/typescript/docs-api-gen/scripts/gendoc_python.ts
  utils/typescript/docs-api-gen/src/codegen-python.ts
  utils/typescript/docs-api-gen/src/python/markdown_tag.py
  utils/typescript/docs-api-gen/src/python/parse.py
Due: organize-imports-cli, prettier --write

docs: python docs, class property
  client/python/gamium/gamium/errors/gamium_error.py
  docs/docs/api/client/python/classes/error-code.mdx
  docs/docs/api/client/python/classes/execute-rpc-by.mdx
  docs/docs/api/client/python/classes/gamium-error.mdx
  docs/docs/api/client/python/classes/input-key-by.mdx
  docs/docs/api/client/python/classes/move-player-by.mdx
  docs/docs/api/client/python/classes/object-locator-by.mdx
  docs/docs/api/client/python/classes/object-type.mdx
  docs/docs/api/client/python/classes/unity-key-code.mdx
  docs/docs/api/client/python/classes/unity-keyboard.mdx
  utils/typescript/docs-api-gen/src/python/parse.py
Due: none

docs: python docs, description wip
  docs/docs/api/client/python/classes/gamium-client.mdx
  docs/docs/api/client/python/classes/player.mdx
  docs/docs/api/client/python/classes/ui.mdx
  docs/docs/api/client/typescript/classes/gamium-client.mdx
  docs/docs/api/client/typescript/classes/ui.mdx
Due: none

docs: python docs, change method and property order
  docs/docs/api/client/python/classes/by.mdx
  docs/docs/api/client/python/classes/gamium-error.mdx
  docs/docs/api/client/python/classes/key-by.mdx
  docs/docs/api/client/python/classes/player.mdx
  docs/docs/api/client/python/classes/rpc-by.mdx
  docs/docs/api/client/python/classes/ui-element.mdx
  docs/docs/api/client/python/classes/vector2.mdx
  docs/docs/api/client/python/classes/vector3.mdx
  docs/docs/api/client/python/classes/vector4.mdx
  utils/typescript/docs-api-gen/src/python/parse.py
Due: none

docs: python docs, install
  README.md
  docs/docs/docs/client/write-testscript.mdx
  docs/docs/docs/get-started/quick-start.mdx
Due: none

wip: python ci-gamium
  .github/workflows/ci-gamium.yml
Due: none

wip: python poetry deploy
  client/README.md
  client/python/gamium/README.md
  client/python/gamium/poetry.lock
  client/python/gamium/pyproject.toml
  client/typescript/gamium/README.md
  docs/docs/docs/contributing/development-guides/client-development/overview.mdx
  docs/docs/docs/contributing/development-guides/client-development/python.mdx
Due: none

version: python client 2.0.0
  client/python/gamium/pyproject.toml
Due: none

version: unity engine 2.0.0, typescript client 2.0.0
  client/typescript/gamium/package.json
  docs/docs/api/client/python/_category_.yml
  docs/docs/docs/engine/unity/project-configuration.mdx
  engine/unity/CHANGELOG.md
  engine/unity/package.json
Due: prettier-package-json --write

Path conditions:
  organize-imports-cli: any of: *.ts
  prettier --write: any of: *.ts
  prettier-package-json --write: any of: package.json
